.node:hover {
    cursor: pointer;
}

.node__internal {
    margin-left: 30px;
    margin-top: 5px;
}

.node__leaf {
    cursor: auto;
    margin: 5px;
}

.node__internal:hover {
    cursor: pointer;
}

.node__internal__text {
    margin-left: 5px;
}

.node-hide {
    display: none;
}

.node-hiddenBySearch {
    display: none;
}

.node-rotate {
    transform: rotate(-90deg);
}